<p-toolbar>
	<div class="ui-toolbar-group-left">
		<p-splitButton label="Login" icon="pi pi-sign-in" (onClick)="loginWithPopup()" [model]="loginOptions"
			[(disabled)]="!settings.domain || !settings.clientId" *ngIf="!authenticationService.isAuthenticated">
		</p-splitButton>

		<button pButton type="button" label="Logout" icon="pi pi-sign-out" (click)="logout()"
			pTooltip="Calls /v2/logout" *ngIf="authenticationService.isAuthenticated" tooltipPosition="bottom"></button>
	</div>
	<div class="ui-toolbar-group-right">
		<app-settings></app-settings>
	</div>
</p-toolbar>
