<p-panel header="ID Token (raw)" [toggleable]="true" *ngIf="idToken" [style]="{margin: '1em'}">
	<pre>
        <code class="language-json" pCode>
        {{'{'}}
            "id_token": "{{idToken}}"
        {{'}'}}
        </code>
	</pre>
	<p-footer>
		<div class="ui-helper-clearfix">
			<input id="id-token" value="{{idToken}}" style="opacity: 0; cursor: default;" readonly>
			<button style="float: right;" type="button" pButton icon="pi pi-copy" class="copy" data-clipboard-target="#id-token" pTooltip="Copy to clipboard"></button>
		</div>
	</p-footer>
</p-panel>

<p-panel header="Access Token" [toggleable]="true" *ngIf="accessToken" [style]="{margin: '1em'}">
	<pre>
        <code class="language-json" pCode>
            {{'{'}}
                "access_token": "{{accessToken}}"
            {{'}'}}
        </code>
	</pre>
	<p-footer>
		<div class="ui-helper-clearfix">
			<input id="access-token" value="{{accessToken}}" style="opacity: 0; cursor: default;" readonly>
			<button style="float: right;" type="button" pButton icon="pi pi-copy" class="copy" data-clipboard-target="#access-token" pTooltip="Copy to clipboard"></button>
		</div>
	</p-footer>
</p-panel>

<p-panel header="ID Token (parsed)" [toggleable]="true" *ngIf="user" [style]="{margin: '1em'}" [collapsed]="true">
	<pre>
        <code class="language-json" pCode>
            {{user}}
        </code>
    </pre>
</p-panel>

<p-panel header="Browser Cache" [toggleable]="true" *ngIf="cache" [style]="{margin: '1em'}" [collapsed]="true">
	<pre>
        <code class="language-json" pCode>
                {{cache}}
        </code>
    </pre>
</p-panel>
